body{background-color:black}
h1{text-align:center; color:darkred}
h2{color:silver}
h3{color:silver}
h4{color:silver}
.ctable{margin-left:auto; margin-right:auto}
td{color:darkred; font-size:large; text-align:center}
.tdleft{text-align:left}
.tdright{text-align:right}
th{color:silver; text-align:center; font-size:large}
.lead{color:darkred}
p{color:White}
li{color:White}
a:hover{color:darkred}
a{color:silver}
img{float:left; padding:5px}
ul {
	position:sticky;
	top:0;
	position: -webkit-sticky;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}

li:last-child {
  border-right: none;
}